In [2]:
import pandas as pd
from google.cloud import firestore
# Initialize Firestore client
db = firestore.Client()

In [3]:
# Load CSV data using pandas
excel_file = '~/Downloads/MartialartsLOCAL.xlsx'
tab_name = 'levels'  # Replace with the actual tab name

# Read the specified tab into a DataFrame
data = pd.read_excel(excel_file, sheet_name=tab_name)
# Convert DataFrame to list of dictionaries, ensuring consistent field names
data

   tenantId levelCode  levelSequenceNumber        levelName  levelAltName
0      KSKA       Nov                    1            White        Novice
1      KSKA       L10                    2             Blue          10th
2      KSKA        L9                    3           Orange           9th
3      KSKA        L8                    4              Red           8th
4      KSKA        L7                    5           Yellow           7th
5      KSKA        L6                    6            Green           6th
6      KSKA        L5                    7           Purple           5th
7      KSKA        L4                    8     Purple White           4th
8      KSKA        L3                    9            Brown           3rd
9      KSKA        L2                   10    Brown & white           2nd
10     KSKA        L1                   11  Brown & 2 white           1st
11     KSKA     PSHO1                   12    Brown & 1 red  Pre Shodan 1
12     KSKA     PSHO2                   13    Brown & 2 red  Pre Shodan 2
13     KSKA     PSHO3                   14    Brown & Black  Pre Shodan 3
14     KSKA     SHO01                   15            Black        Shodan

In [4]:
data_dicts = data.to_dict('records')

In [5]:
# Batch write to Firestore in chunks of 499 documents to avoid exceeding limits
def batch_write(data_chunk):
    batch = db.batch()
    for doc_data in data_chunk:
        doc_ref = db.collection("levels").document()  # Replace with your collection name
        batch.set(doc_ref, doc_data)
    batch.commit()

# Iterate through data in chunks and batch write
for i in range(0, len(data_dicts), 499):
    batch_write(data_dicts[i:i+499])

print("Data successfully imported to Firestore!")

Data successfully imported to Firestore!